@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; }

body {
  height: 100vh;
  width: 100%;
  position: relative; }

/* HEADER/NAV (ALL) */
.bg-color {
  background-color: #292f31; }

.nav-link {
  color: white; }

#logo-header {
  display: flex;
  align-items: center;
  text-decoration: none; }

#logo-header img {
  height: 78px;
  width: 78px;
  margin-right: 10px; }

.Selfie {
  font-size: 30px;
  color: black; }

.nav-item a:hover {
  color: #9420ca; }

/* ABAJO DEL NAV (INDEX) */
.grid-layout {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "Caja";
  width: 100%;
  margin: 0 auto;
  background-color: lightgreen;
  padding: 0;
  background-image: url(../assets/imgs/background4.jpg); }

.caja {
  grid-area: Caja;
  border: 1.5px solid #FFF;
  background-color: lightgray;
  text-align: center;
  line-height: 100px;
  padding-bottom: 15px;
  padding-top: 15px;
  background-image: url(../assets/imgs/background1.jpeg); }

.caja h1 {
  font-size: 25px;
  font-weight: 50px;
  font-family: fantasy;
  color: white;
  text-decoration-color: white; }

/* FOOTER (ALL) */
#footer {
  background: #292f31;
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 0px;
  position: relative;
  left: 0; }

#footer p {
  margin-top: 20px;
  margin-bottom: 0; }

#footer a {
  color: white; }

/* FOOTER IMGS */
.redes2 {
  width: 45px;
  top: 50px;
  right: 0; }

.redes2 {
  top: 35%;
  height: 44px;
  margin-top: 0px;
  margin-right: 0px; }

.redes3 {
  width: 45px;
  top: 50px;
  right: 0; }

.redes3 {
  top: 35%;
  height: 44px;
  margin-top: 0px;
  margin-right: 0px; }

.redes4 {
  width: 45px;
  top: 50px;
  right: 0; }

.redes4 {
  top: 35%;
  height: 44px;
  margin-top: 0px;
  margin-right: 0px; }

.wave {
  fill: #292f31; }

.wpp {
  display: flex;
  padding-top: 21rem;
  padding-left: 80rem;
  position: fixed; }

.wppimg {
  width: 60px;
  cursor: pointer; }

/* CONTACT PAGE */
#bodycontact {
  background-color: #868686; }

.h1contacto {
  font-size: 56px;
  color: #4f1055;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center; }

@media (max-width: 350px) {
  .h1contacto {
    font-size: 23px; } }

.contactform {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 35px;
  border-radius: 7px; }

.h2contact {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

#button {
  background: #31384A;
  color: white;
  padding: 20px; }

#button:hover {
  cursor: pointer; }

@media (max-width: 480px) {
  .contactform {
    width: 100%; } }

/* UBICACIÓN PAGE */
.h1ubicacion {
  font-size: 56px;
  color: #4f1055;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center; }

@media (max-width: 350px) {
  .h1ubicacion {
    font-size: 23px; } }

.ubicacion {
  display: flex;
  margin-top: 30px;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  transform: translate(5px, -20px); }

@media (max-width: 450px) {
  .ubicacion {
    width: 100%;
    height: 100%;
    margin: 0 auto; } }

.alerts {
  color: #bb0dbb;
  font-size: 19px; }

/* PRODUCTOS PAGE */
.rows {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-left: calc(-.5 * var(--bs-gutter-x)); }

.card {
  text-align: center; }

.productos {
  font-size: 56px;
  color: #4f1055;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center; }

@media (max-width: 350px) {
  .productos {
    font-size: 23.5px; } }

/* REGISTER */
.offcanvas-header {
  background-image: url(/assets/imgs/contactbackground.jpg); }

form {
  width: 300px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 35px;
  border-radius: 7px; }

@media (max-width: 480px) {
  form {
    width: 100%; } }

.h2contact {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

#buttonContact {
  background: #31384A;
  color: white;
  padding: 20px; }

#buttonContact:hover {
  cursor: pointer; }

@media (max-width: 480px) {
  form {
    width: 100%; } }

.offcanvas-body {
  transform: translate(33%);
  background-color: #86e2e6; }

.offcanvas {
  background-color: #86e2e6; }

@media (max-width: 200px) {
  .offcanvas-body {
    width: 100%;
    transform: translate(0px, 0px); } }

/* SERVICIOS */
.h1servicios {
  font-size: 56px;
  color: #4f1055;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center; }

@media (max-width: 350px) {
  .h1servicios {
    font-size: 23px; } }

.card-imgd {
  margin-top: 14px;
  border-radius: 15px; }

.alert {
  margin-bottom: 0px; }

.clientes {
  font-size: 56px;
  color: #105458;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

@media (max-width: 350px) {
  .clientes {
    font-size: 30px; } }

.container-fluid {
  text-align: center; }

.img-fluid {
  border-radius: 10px; }

.profile-area {
  padding: 80px 0; }

.cards {
  box-shadow: 0 0 30px rgba 0, 0, 0, -5;
  overflow: hidden;
  border-radius: 15px; }

.img1 img {
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%; }

.img2 img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 7px solid #fff;
  margin-top: -80px; }

.card:hover .img2 img {
  border-color: #8a1977;
  transition: 4s; }

.main-text {
  padding: 30px 0;
  text-align: center; }

.main-text h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  margin: 0 0 20px; }

.main-text p {
  font-size: 16px;
  padding: 0 35px; }

.profile-area2 {
  padding-top: 20px;
  background-color: #f5eded; }

.aintera {
  text-decoration: none;
  color: purple; }

.aintera:hover {
  color: aqua; }

/* .card-img-top{
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    size: 100vh 100vh;
}

@media (max-width:850px){
    .card-img-top{
        width: 150px;
        margin-left: 58px;
        margin-top: 10px;
        text-align: center;
        height: 200px;
    }
}

@media (max-width:315px){
    .card-img-top{
        width: 150px;
        margin-left: 10px;
        margin-top: 10px;
        text-align: center;
        height: 200px;
    }
} */
/* TEXTO DE COMENTARIOS (INDEX) */
/* .card-text{
    color: rgb(16, 84, 88);
    font-weight: 500;
} */
/* CONTACT PAGE */
#bodycontact {
  background-color: #868686; }

.h1contacto {
  font-size: 56px;
  color: #4f1055;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center; }

@media (max-width: 350px) {
  .h1contacto {
    font-size: 23px; } }

.contactform {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 35px;
  border-radius: 7px; }

.h2contact {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

#button {
  background: #31384A;
  color: white;
  padding: 20px; }

#button:hover {
  cursor: pointer; }

@media (max-width: 480px) {
  .contactform {
    width: 100%; } }

/* UBICACIÓN PAGE */
.h1ubicacion {
  font-size: 56px;
  color: #4f1055;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center; }

@media (max-width: 350px) {
  .h1ubicacion {
    font-size: 23px; } }

.ubicacion {
  display: flex;
  margin-top: 30px;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  transform: translate(5px, -20px); }

@media (max-width: 450px) {
  .ubicacion {
    width: 100%;
    height: 100%;
    margin: 0 auto; } }

.alerts {
  color: #bb0dbb;
  font-size: 19px; }

/* PRODUCTOS PAGE */
.rows {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-left: calc(-.5 * var(--bs-gutter-x)); }

.card {
  text-align: center; }

.productos {
  font-size: 56px;
  color: #4f1055;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center; }

@media (max-width: 350px) {
  .productos {
    font-size: 23.5px; } }

/* REGISTER */
.offcanvas-header {
  background-image: url(/assets/imgs/contactbackground.jpg); }

form {
  width: 300px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 35px;
  border-radius: 7px; }

@media (max-width: 480px) {
  form {
    width: 100%; } }

.h2contact {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

#buttonContact {
  background: #31384A;
  color: white;
  padding: 20px; }

#buttonContact:hover {
  cursor: pointer; }

@media (max-width: 480px) {
  form {
    width: 100%; } }

.offcanvas-body {
  transform: translate(33%);
  background-color: #86e2e6; }

.offcanvas {
  background-color: #86e2e6; }

@media (max-width: 200px) {
  .offcanvas-body {
    width: 100%;
    transform: translate(0px, 0px); } }

/* SERVICIOS */
.h1servicios {
  font-size: 56px;
  color: #4f1055;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center; }

@media (max-width: 350px) {
  .h1servicios {
    font-size: 23px; } }

.card-imgd {
  margin-top: 14px;
  border-radius: 15px; }
