/* UBICACIÓN PAGE */

.h1ubicacion{
    font-size: 56px;
    color: rgb(79, 16, 85);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

@media (max-width:350px){
    .h1ubicacion{
        font-size: 23px;
    }
}
.ubicacion {
    display: flex;
    margin-top: 30px;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    transform: translate(5px, -20px);
    
}

@media (max-width:450px){
    .ubicacion{
        width: 100%; 
        height: 100%;
        margin: 0 auto;
    }
}


.alerts{
    color: rgb(187, 13, 187);
    font-size: 19px;
}
